body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
i,
select {
    margin: 0;
    padding: 0
}

a {
    color: #6F6F6F;
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
}

input {
    outline: none;
}

input::input-placeholder {
    text-align: left;
    vertical-align: center;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;

}

@media (max-width: 900px) {
    a {
        -webkit-text-decoration-line: none;
        text-decoration-line: none;
        color: #6F6F6F;
    }
    html {
        background: url(https://upload-images.jianshu.io/upload_images/3433202-8a2c0b14ab28382c.png);
        background-repeat: no-repeat;
        background-position: 0% 30% !important;
    }
    /* body {
        display: flex;
        justify-content: center;
    } */
    .container {
        padding-top: 24px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
        align-items: flex-start !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
        padding-left: 28px;
    }
    .svg-coming svg {
        margin-left: -33px;
        margin-top: 14px !important;
    }
    .text-box {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
        align-items: flex-start !important;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -ms-flex-line-pack: center !important;
        align-content: center !important;
        margin-top: 12vh !important;
        z-index: 100;
    }
    .h1 svg {
        width: 90%;
    }
    .slogan {
        display: inline-block;
        padding-right: 12px !important;
        /* width: 100%; */
        font-family: 'Roboto', sans-serif;
        font-size: 22px !important;
        font-weight: 500;
        /* letter-spacing: 2px; */
        color: #FFFFFF;
        /* word-spacing: 4px; */
        line-height: 28px;
    }
    .h2 {
        margin-top: 16px !important;
    }
    .btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 160px !important;
        height: 40px !important;
        border: 2px solid #FFFFFF;
        border-radius: 100px;
        margin-top: 40px !important;
        margin-left: 28px;
    }
    .btn p {
        /* COMING SOON: */
        font-family: 'Roboto', sans-serif;
        font-size: 16px !important;
        color: #FFFFFF;
        letter-spacing: 1px;
    }
    .form-wrap {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        width: 80vw !important;
        height: 60px !important;
        background-color: #fff;
        border-radius: 64px;
        vertical-align: center;
        margin-top: 40px !important;
    }
    .form-email {
        width: 55vw !important;
        height: 28px !important;
        border: 0px;
        border-radius: 64px 0px 0px 64px;
        padding-left: 16px !important;
        resize: none;
        font-size: 24px;
        color: #FF4A8E;
    }
}

.form-email::-webkit-input-placeholder {
    font-size: 16px;
    color: #B3B3B3;
}

.form-email:-ms-input-placeholder {
    font-size: 16px;
    color: #B3B3B3;
}

.form-email::placeholder {
    font-size: 16px;
    color: #B3B3B3;
}

.form-email :focus {
    outline: none;
    background-color: #121313;
}

.btn-submit {
    width: 48px !important;
    height: 48px !important;
    background: #FF4A8E;
    border-radius: 100% !important;
    border: 0px;
    margin-right: 6px;
    outline: none;
    cursor: pointer;
}

.btn-submit:hover {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #ff4a8ee0;
}

.submit-icon {
    width: 20px !important;
}

.footer p :hover {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #DA4B81;
}

a {
    -webkit-text-decoration-line: none !important;
    text-decoration-line: none !important;
    color: #6F6F6F;
}

html,
body {
    height: 100%;
}

html {
    background: url(https://upload-images.jianshu.io/upload_images/3433202-8a2c0b14ab28382c.png);
    /* background-size: 100vw;
    background-repeat: no-repeat; */
    background-repeat: no-repeat;
    /* background-attachment: fixed !important; */
    background-size: cover;
    background-position: center top;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
}

/* .h1 {
    z-index: 100;
} */

.text-box {
    margin-top: 20vh;
    z-index: 100;
}

.svg-coming svg {
    margin-top: 32px;
    height: 24px;
}

.h2 {
    margin-top: 24px;
}

.slogan {
    /* display: inline-block; */
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #FFFFFF;
    /* word-spacing: 2px; */
}

.h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 240px;
    height: 56px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    margin-top: 72px;
}

.btn p {
    /* COMING SOON: */
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: 500;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.form-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 300px;
    height: 64px;
    background-color: #fff;
    border-radius: 64px;
    margin-top: 60px;
}

.form-email {
    width: 210px;
    height: 32px;
    border: 0px;
    border-radius: 64px 0 0 64px;
    /* padding: 16px 16px 16px 24px; */
    padding-left: 24px;
    resize: none;
    font-size: 16px;
    font-weight: 500;
    color: #DA4B81;
    line-height: 26px;
    background-color: #fff;
}

.form-email::-webkit-input-placeholder {
    text-align: left;
    font-size: 16px;
    color: rgba(179, 179, 179, 0.637);
}

.form-email:-ms-input-placeholder {
    text-align: left;
    font-size: 16px;
    color: rgba(179, 179, 179, 0.637);
}

.form-email::placeholder {
    text-align: left;
    font-size: 16px;
    color: rgba(179, 179, 179, 0.637);
}

.form-email :focus {
    outline: none;
    background-color: #121313;
}

.btn-submit {
    width: 110px;
    height: 54px;
    background: #FF4A8E;
    border-radius: 32px;
    border: 0px;
    margin-right: 6px;
    outline: none;
    cursor: pointer;
}

.btn-submit:hover {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background-color: #ff4a8ee0;
}

.msg {
    color: #6F6F6F;
    margin-top: 12px;
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}

.footer {
    position: fixed;
    bottom: 24px;
}

.footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #6F6F6F;
    letter-spacing: 0;
}

.footer p :hover {
    -webkit-text-decoration-line: underline !important;
    text-decoration-line: underline !important;
    color: #DA4B81;
}