body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
i,
select {
    margin: 0;
    padding: 0
}

@media (max-width: 900px) {
    a {
        -webkit-text-decoration-line: none;
        text-decoration-line: none;
        color: #6F6F6F;
    }
    html {
        background: url(bg.png);
        background-repeat: no-repeat;
        background-position: 0% 30% !important;
    }
    /* body {
        display: flex;
        justify-content: center;
    } */
    .container {
        padding-top: 32px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start !important;
        -ms-flex-align: start !important;
        align-items: flex-start !important;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-line-pack: start !important;
        align-content: flex-start !important;
    }
    .text-box {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-align: center !important;
        -ms-flex-align: center !important;
        align-items: center !important;
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -ms-flex-line-pack: center !important;
        align-content: center !important;
        margin-top: 12vh !important;
        padding-left: 28px;
        z-index: 100;
    }
    .h1 svg {
        width: 80%;
    }
    .slogn {
        display: inline-block;
        padding-right: 6px !important;
        /* width: 100%; */
        font-family: 'Roboto', sans-serif;
        font-size: 24px !important;
        font-weight: 400;
        letter-spacing: 2px;
        color: #FFFFFF;
        word-spacing: 4px;
    }
    .h2 {
        margin-top: -30px !important;
    }
    .btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 160px !important;
        height: 40px !important;
        border: 2px solid #FFFFFF;
        border-radius: 100px;
        margin-top: 56px !important;
        margin-left: 28px;
    }
    .btn p {
        /* COMING SOON: */
        font-family: 'Roboto', sans-serif;
        font-size: 16px !important;
        color: #FFFFFF;
        letter-spacing: 1px;
    }
    .footer p :hover {
        -webkit-text-decoration-line: underline;
        text-decoration-line: underline;
        color: #DA4B81;
    }
}

a {
    -webkit-text-decoration-line: none !important;
    text-decoration-line: none !important;
    color: #6F6F6F;
}

html,
body {
    height: 100%;
}

html {
    background: url(bg.png);
    /* background-size: 100vw;
    background-repeat: no-repeat; */
    background-repeat: no-repeat;
    /* background-attachment: fixed !important; */
    background-size: cover;
    background-position: center top;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-line-pack: center;
    align-content: center;
}

/* .h1 {
    z-index: 100;
} */

.text-box {
    margin-top: 30vh;
    z-index: 100;
}

.h2 {
    margin-top: 24px;
}

.slogan {
    /* display: inline-block; */
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 2px;
    color: #FFFFFF;
    word-spacing: 2px;
}

.h2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 240px;
    height: 56px;
    border: 2px solid #FFFFFF;
    border-radius: 100px;
    margin-top: 72px;
}

.btn p {
    /* COMING SOON: */
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

.footer {
    position: fixed;
    bottom: 24px;
}

.footer p {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    color: #6F6F6F;
    letter-spacing: 0;
}

.footer p :hover {
    -webkit-text-decoration-line: underline !important;
    text-decoration-line: underline !important;
    color: #DA4B81;
}